.wrapper_item2_asfads {
    display: flex;
    flex-direction: column;
    gap: 30px;
    // div {
    //     background-color: aquamarine;
    // }
    &_item2 {
        background-color: rgb(216, 233, 31);
    }
}



